body {
  background-color: #cdd;
  font-size:2em;
  text-align:center;
}

form {
  margin: 25px;
}

.moviebutton {
  margin-left: 20px;
}

/*.show-list {
  height: 500px;
  overflow-y: scroll;
}

.movie-list {
  height: 500px;
  overflow-y: scroll;
}*/